<div class="filled-form-field">
  <h3>Recording</h3>

  <div class="filled-form-field">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" placeholder="The password" />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onStartRecording()"
    [disabled]="isRecording"
  >
    Start Record
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onStopRecording()"
    [disabled]="!isRecording"
  >
    Stop Record
  </button>
</div>
