[Unit]
Description=Nightsight Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/nightsight/main.py > /home/pi/nightsight/print_and_error_log.txt
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
