<div class="container">
  <div class="row">
    <div class="col-xl mx-auto">
      <div class="text-center">
        <img
          id="stream"
          src="{{ streamLocation.protocol }}://{{ streamLocation.location }}:{{
            streamLocation.port
          }}/{{ streamLocation.path }}.mjpg"
        />
      </div>
    </div>
  </div>
</div>

<div class="separator-1"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Protocol</mat-label>
        <mat-select
          [(value)]="streamLocation.protocol"
          (change)="onChangeStreamLocation()"
        >
          <mat-option
            *ngFor="let protocol of eProtocol | keyvalue"
            [value]="protocol.value"
          >
            {{ protocol.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input
          matInput
          [(ngModel)]="streamLocation.location"
          placeholder="IP or URL"
          (change)="onChangeStreamLocation()"
        />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Port</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="streamLocation.port"
          placeholder="Port"
          (change)="onChangeStreamLocation()"
        />
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Path</mat-label>
        <input
          matInput
          [(ngModel)]="streamLocation.path"
          placeholder="Path without .mjpg"
          (change)="onChangeStreamLocation()"
        />
      </mat-form-field>
    </div>
  </div>
</div>
