#stream {
  width 100%
}

.text-center {
  align-content center
  text-align center
  //background-repeat no-repeat
  //background-image url("src/assets/sleeping_cat.jpg")
  //min-height 439px

  //padding-top 2em

  //img {
  //  height 100%
  //
  //  align-content center
  //  text-align center
  //}
}
