.app-drawer-container {
  width: 100vw;

  height: calc(100% - 64px);
  height: -o-calc(100% - 64px); /* opera */
  height: -webkit-calc(100% - 64px); /* google, safari */
  height: -moz-calc(100% - 64px); /* firefox */
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

  @media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    .app-drawer-container {

    height: calc(100% - 56px);
    height: -o-calc(100% - 56px); /* opera */
    height: -webkit-calc(100% - 56px); /* google, safari */
    height: -moz-calc(100% - 56px); /* firefox */
    }
  }

@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  .app-drawer-container {

  height: calc(100% - 48px);
  height: -o-calc(100% - 48px); /* opera */
  height: -webkit-calc(100% - 48px); /* google, safari */
  height: -moz-calc(100% - 48px); /* firefox */
   }
}

.top-spacer {
  padding-top 2em
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
}

.app-sidenav {
  padding: 20px;
}

#open-sidebar-button {
      position: fixed;
      top: 1rem;
      left: 1rem;
      //width: 1.5em;
      //height: 1.5em;
    }
