.app-drawer-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.top-spacer {
  padding-top 2em
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
}

.app-sidenav {
  padding: 20px;
}

#open-sidebar-button {
      position: fixed;
      top: 1rem;
      left: 1rem;
      //width: 1.5em;
      //height: 1.5em;
    }
