<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Pi</title>
    {% block javascript %}
        <script type="text/javascript">
            {% include "event_stream.js" %}
        </script>
        <script type="text/javascript">
            {% include "jquery-3.5.1.js" %}
        </script>
        <!-- The contents of myscript.js will be loaded inside the script tag -->
    {% endblock %}
</head>
<body
        style="text-align:center;
      font-size:xx-large">

<h1>Camera Pi Streaming</h1>
<img src="stream.mjpg" width="100%" id="stream_image"/>

{% block buttons %}
{% endblock %}
<hr>
<div datasrc="measurements.arb"></div>
<hr>


<div style="width: 100%; text-align: center;">
    <div style="display: inline-block">
        <table>
            <thead>
            <tr>
                <th>Measurement</th>
                <th></th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody id="measurements"></tbody>
        </table>
    </div>
</div>
<hr>

{% block footer %}
{% endblock %}


</body>
</html>