<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Pi</title>
</head>
<body
        style="text-align:center;
      font-size:xx-large">

<h1>Camera Pi Streaming</h1>
<img src="stream.mjpg" width="100%" id="stream_image"/>
<br><br>

{% if not can_write_recordings %}
<hr>
<div style="font-size:xx-large">Cannot write to directory: {{ base_path
    }}
</div>
<hr>
{% endif %}

<form action="" method="get">
    <button style="font-size:xx-large" name="start" type="submit" value="True"
            {% if is_recording %} disabled {% endif %}
            {% if not is_streaming_allowed %} disabled {% endif %}
    >
        Start recording
    </button>
    <button style="font-size:xx-large" name="stop" type="submit" value="True"
            {% if not is_recording %} disabled {% endif %}
            {% if not is_streaming_allowed %} disabled {% endif %}
    >
        Stop recording
    </button>
    <hr>
    <button style="font-size:xx-large" name="refresh" type="submit"
            value="True">
        Refresh Page
    </button>
</form>
<hr>
<div style="width: 100%; text-align: center;">
    <div style="display: inline-block">
        <table>
            <tr>
                <th>Measurement</th>
                <th></th>
                <th>Value</th>
            </tr>
            {% for key, value in measurements.items() %}
            <tr>
                <td>{{key}}</td>
                <td style="padding: 0 1em"></td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<hr>
<iframe src="http://{{ ip }}:61208/"
        width="100%"
        height="1000px"
        title="Glances system overview"></iframe>


</body>
</html>