{% extends "base.html" %}

{% block javascript %}
    {{ super() }}

    <script type="text/javascript">
        {% include "buttons_event_stream.js" %}
    </script>
{% endblock %}

{% block buttons %}
    <hr>
    <form action="" method="post">
        <button style="font-size:xx-large" name="start" type="submit"
                value="True" id="start_button"
                {% if is_recording %} disabled {% endif %}
        >
            Start recording
        </button>
        <button style="font-size:xx-large" name="stop" type="submit"
                value="True" id="stop_button"
                {% if not is_recording %} disabled {% endif %}
        >
            Stop recording
        </button>
    </form>

    {% if is_recording %}
        <br>
        <div style="width: 100%; text-align: center;">
            {{ writing_to }}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <iframe src="http://{{ ip }}:61208/"
            width="100%"
            height="1000px"
            title="Glances system overview"></iframe>

{% endblock %}