{% extends "base.html" %}

{% block javascript %}
    {{ super() }}

    <script type="text/javascript">
        {% include "buttons_event_stream.js" %}
    </script>
{% endblock %}

{% block buttons %}
    <hr>
    {% if not can_write_recordings %}
        <div style="font-size:xx-large">Cannot write to
            directory: {{ base_path }}
        </div>
        <hr>
    {% endif %}

    <form action="" method="post">
        <button style="font-size:xx-large" name="start" type="submit"
                value="True" id="start_button"
                {% if is_recording %} disabled {% endif %}
        >
            Start recording
        </button>
        <button style="font-size:xx-large" name="stop" type="submit"
                value="True" id="stop_button"
                {% if not is_recording %} disabled {% endif %}
        >
            Stop recording
        </button>
    </form>
{% endblock %}

{% block footer %}
    <iframe src="http://{{ ip }}:61208/"
            width="100%"
            height="1000px"
            title="Glances system overview"></iframe>

{% endblock %}